# Configuration stuff
/application/config/development
/application/sessions
/ipconfig.php

# Dependencies
/node_modules
/vendor

# Other files
/.htaccess
.idea
.sass-cache
adminer.php
ipconfig.php
yarn.lock
package-lock.json
package.json
/nbproject
/.php_cs.cache
/doc
